<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td>
        <p>
          <%= link_to 'Edit', edit_user_path(user.id) %>
          <%= link_to 'Show', user_path(user.id) %>
        </p>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New', new_user_path %>

<% console %>